*.bak
Martin/*.jpg
*.dvi


*.fdb_latexmk
*.fls
*.synctex.gz
ls-R
*pdf
*out
*log
*aux
**fonts/
*tar
Figure/
Fonts CV/
.Trash-1000/
cv_13/
*png
*.backup


2016
Awesome CV/Bck/
CV para pasar a Latex.odt
*.swp
*.bbl
*.blg
2_Colonnes/.fuse_hid*
*.zip

# Html
*.4ct
*.4tc
*.idv
*.lg
*.tmp
*.xref
*.xdv
*.css
*.html

